.articles-page {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 80px;
}

.articles-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    margin: 32px 0 0;
}

.articles-list__item {
    display: flex;
    width: calc(100% / 4 - (20px * 3) / 4);
    flex-direction: column;
}

.articles-list__item-image {
    display: flex;
    width: 100%;
    aspect-ratio: 420 / 625;
    height: max-content;
    transition: translate .1s linear;
}

.articles-list__item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articles-list__item-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    box-sizing: border-box;
    flex: 1;
}

.articles-list__item-info time {
    font: 20px / 150% Roboto, sans-serif;
    color: var(--text3);
}

.articles-list__item-title {
    font: 36px / 130% Roboto, sans-serif;
    color: var(--text1);
    margin: 20px 0;
}

.articles-list__item-info p {
    font: 20px / 150% Roboto, sans-serif;
    color: var(--text2);
    margin: 0 0 20px;
    display: none;
}

.articles-list__item-link {
    font: 20px / 150% Roboto, sans-serif;
    color: var(--text1);
    margin: auto 0 0;
    transition: translate .1s linear;
}

.articles-list__item-link:hover {
    translate: 5px 0;
}

.articles-list__item.big {
    width: calc(100% / 2 - 20px / 2);
}

.articles-list__item.big .articles-list__item-image {
    aspect-ratio: 860 / 625;
}

.articles-list__item.big .articles-list__item-info p {
    display: flex;
}

.articles-list__item:hover .articles-list__item-image {
    translate: 0 -5px;
}

.article-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 32px 0 80px;
}

.article-block {
    display: flex;
    width: 100%;
    gap: 64px;
    justify-content: space-between;
}

.article-block.column {
    flex-direction: column;
    justify-content: unset;
}

.article-block__title {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.article-block__title time {
    font: 20px/150% Roboto, sans-serif;
    color: var(--text3);
    margin-bottom: 12px;
}

.article-block__title h2 {
    font: 40px/130% Roboto, sans-serif;
    color: var(--text1);
    margin: 0 0 32px;
}

.article-block__title .main-text {
    font: 300 24px/32px Roboto, sans-serif;
    color: var(--text1);
    margin: 0;
}

.article-block__text {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 64px;
}

.article-block__text .art-blocks {
    display: flex;
    width: 100%;
    gap: 64px;
}

.article-block__text .art-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 32px;
}

.article-block__text .art-block-title {
    font: 28px/130% Roboto, sans-serif;
    color: var(--text1);
}

.article-block__text .art-block-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.article-block__text .art-block-text > p {
    font: 16px/28px Roboto, sans-serif;
    color: var(--text1);
    margin: 0;
}

.article-block__text .art-block > p {
    font: 16px/28px Roboto, sans-serif;
    color: var(--text1);
    margin: 0;
}

.article-block__text .art-block p:first-of-type {
    margin: 0;
}

.article-block__text .art-block-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px;
    box-sizing: border-box;
    background-color: #F9FAFB;
}

.article-block__text .art-block-list p {
    font: 16px/28px Roboto, sans-serif;
    color: var(--text1);
    margin: 0;
}

.article-block__text .art-block-list ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 0 24px;
    margin: 0;
}

.article-block__text .art-block-list ul li {
    font: 16px/28px Roboto, sans-serif;
    color: var(--text1);
    list-style-type: disc;
}

.article-block__image {
    max-width: 713px;
    width: 100%;
    aspect-ratio: 713 / 682;
    height: max-content;
    display: flex;
}

.article-block__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.article-block__full-image {
    width: 100%;
    aspect-ratio: 1740 / 433;
    height: max-content;
    display: flex;
}

.article-block__full-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-block__half-image {
    /*max-width: 838px;*/
    width: 100%;
    aspect-ratio: 838 / 350;
    height: max-content;
    display: flex;
}

.article-block__half-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1640px) {
    .articles-list__item-title {
        font: 32px / 130% Roboto, sans-serif;
    }
}

@media screen and (max-width: 1320px) {
    .articles-list__item-info time {
        font: 16px / 150% Roboto, sans-serif;
    }
    .articles-list__item-title {
        font: 28px / 130% Roboto, sans-serif;
    }
    .articles-list__item-info p {
        font: 16px / 150% Roboto, sans-serif;
    }
    .articles-list__item-link {
        font: 16px / 150% Roboto, sans-serif;
    }
    .article-block {
        gap: 40px;
    }
    .article-block__title time {
        font: 16px/150% Roboto, sans-serif;
    }
    .article-block__title h2 {
        font: 32px/130% Roboto, sans-serif;
    }
    .article-block__title .main-text {
        font: 300 20px/26px Roboto, sans-serif;
    }
    .article-block__text {
        gap: 40px;
    }
    .article-block__text .art-blocks {
        gap: 40px;
    }
    .article-block__text .art-block-title {
        font: 24px/130% Roboto, sans-serif;
    }
    .article-block__text .art-block-list {
        padding: 24px;
    }
    .article-block__text .art-block-list ul {
        padding: 0 0 0 20px;
    }
    .article-block__half-image {
        aspect-ratio: 838 / 550;
    }
    .article-block__half-image img {
        object-fit: cover;
    }
}

@media screen and (max-width: 1100px) {
    .articles-list__item-title {
        font: 24px / 130% Roboto, sans-serif;
        margin: 12px 0;
    }
    .articles-list__item-info p {
        margin: 0 0 12px;
    }
    .article-block {
        gap: 32px;
        flex-direction: column;
    }
    .article-block__text {
        gap: 32px;
    }
    .article-block__text .art-blocks {
        gap: 32px;
        flex-direction: column;
    }
    .article-block__image {
        max-width: unset;
    }
}

@media screen and (max-width: 900px) {
    .articles-list__item {
        width: calc(100% / 2 - 20px / 2);
    }
    .articles-list__item.big {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .articles-list {
        gap: 20px 12px;
        margin: 16px 0 0;
    }
    .articles-list__item {
        width: calc(100% / 2 - 12px / 2);
    }
    .articles-list__item-info {
        padding: 0;
    }
    .articles-list__item-info time {
        font: 14px / 120% Roboto, sans-serif;
    }
    .articles-list__item-title {
        font: 18px / 130% Roboto, sans-serif;
    }
    .articles-list__item-info p {
        font: 14px / 150% Roboto, sans-serif;
    }
    .articles-list__item-link {
        font: 14px / 150% Roboto, sans-serif;
    }
    .article-detail {
        gap: 60px;
        margin: 20px 0 80px;
    }
    .article-block__title h2 {
        font: 24px/130% Roboto, sans-serif;
        margin: 0 0 24px;
    }
    .article-block__title .main-text {
        font: 300 18px/24px Roboto, sans-serif;
    }
    .article-block__text {
        gap: 24px;
    }
    .article-block__text .art-blocks {
        gap: 24px;
    }
    .article-block__text .art-block {
        gap: 24px;
    }
    .article-block__text .art-block-title {
        font: 20px/130% Roboto, sans-serif;
    }
    .article-block__text .art-block-text > p {
        font: 16px/24px Roboto, sans-serif;
    }
    .article-block__text .art-block > p {
        font: 16px/24px Roboto, sans-serif;
    }
    .article-block__text .art-block-list p {
        font: 16px/24px Roboto, sans-serif;
    }
    .article-block__text .art-block-list ul li {
        font: 16px/24px Roboto, sans-serif;
    }
    .article-block__full-image {
        aspect-ratio: 1740 / 640;
    }
}