.catalog {
    margin-top: 117px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.catalog__card {
    display: flex;
    flex-direction: column;
    max-width: 426px;
    width: 100%;
}

.catalog__card-women,
.catalog__card-men {
    display: flex;
    gap: 8px;
    width: 100%;
}

.catalog__card-image {
    width: 100%;
    height: 440px;
    position: relative;
    cursor: none;
    overflow: hidden;
    transition: transform .3s;
}

.catalog__card-image:hover {
    transform: translateY(-5px);
}

.catalog__card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.catalog__card-menu {
    display: flex;
    flex-direction: column;
    /*gap: 15px;*/
    padding: 0 16px;
    box-sizing: border-box;
    margin-top: 24px;
}

.catalog__card-menu-link {
    font: 18px/140% Roboto;
    color: var(--text5);
    text-decoration: none;
    padding: 7px 0 8px;
    transition: transform .3s;
}

.catalog__card-menu-link:first-of-type {
    padding-top: 0;
}

.catalog__card-menu-link:last-of-type {
    padding-bottom: 0;
}

.catalog__card-menu-link:hover {
    transform: translateX(12px);
}

.cursor-custom {
    display: none;
    position: absolute;
    width: 140px;
    height: 64px;
    justify-content: center;
    align-items: center;
    background-color: #0F1523;
    font: 18px/140% Roboto;
    color: var(--text4);
}

.catalog-sections {
    display: flex;
    width: 100%;
    padding: 32px 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.sections-slider {
    max-width: 1780px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.sections-slider__item {
    max-width: 332px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sections-slider__item-image {
    display: flex;
    width: 100%;
    aspect-ratio: 332 / 410;
    height: max-content;
    transition: filter .1s linear;
}

.sections-slider__item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.sections-slider__item-title {
    display: flex;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    font: 24px/120% Roboto, sans-serif;
    color: #0F1523;
}

.sections-slider__item:hover .sections-slider__item-image {
    filter: opacity(95%);
}

.catalog-type {
    max-width: 1780px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px auto 80px;
    padding: 0 20px;
    box-sizing: border-box;
}

.catalog-type__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 36px 20px;
}

.catalog-type__btn-more {
    width: 100%;
    border: 1.5px solid #E5E7EB;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    font: 18px/140% Roboto;
    color: var(--text1);
    background-color: #FFF;
    cursor: pointer;
    transition: border .1s;
}

.catalog-type__btn-more:hover {
    border: 1.5px solid #A1A8B4;
}

.catalog-type__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px auto 0;
    border-top: 1px solid #EAECF0;
    max-width: 860px;
    width: 100%;
}

.catalog-type__pagination-prev {
    display: flex;
    gap: 16px;
    cursor: pointer;
    padding-top: 17px;
}

.catalog-type__pagination-prev > span {
    font: 500 16px/130% Manrope;
    color: #6B7280;
    transition: color .1s;
}

.catalog-type__pagination-prev:hover span {
    color: var(--text1);
}

.catalog-type__pagination-prev > svg path {
    transition: stroke .1s;
}

.catalog-type__pagination-prev:hover svg path {
    stroke: #111827;
}

.catalog-type__pagination-pages {
    display: flex;
    cursor: pointer;
}

.catalog-type__page {
    font: 500 16px/130% Manrope;
    color: #6B7280;
    padding: 17px 15px 0;
    position: relative;
    transition: color .1s;
}

.catalog-type__page:hover {
    color: var(--text1);
}

.active-page {
    color: var(--text5);
}

.active-page::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #0F1523;
    position: absolute;
    top: -2px;
    left: 0;
}

.catalog-type__pagination-next {
    display: flex;
    gap: 16px;
    cursor: pointer;
    padding-top: 17px;
}

.catalog-type__pagination-next > span {
    font: 500 16px/130% Manrope;
    color: #6B7280;
    transition: color .1s;
}

.catalog-type__pagination-next:hover span {
    color: var(--text1);
}

.catalog-type__pagination-next > svg path {
    transition: stroke .1s;
}

.catalog-type__pagination-next:hover svg path {
    stroke: #111827;
}

.catalog-type__pagination-prev.disabled,
.catalog-type__pagination-next.disabled {
    visibility: hidden;
    opacity: 0;
}

.catalog-type__pagination-prev-mobile,
.catalog-type__pagination-next-mobile {
    display: none;
}

@media screen and (max-width: 1319px) {

    .catalog {
        flex-direction: column;
        gap: 40px;
        justify-content: unset;
    }
    .catalog__card-women,
    .catalog__card-men {
        margin: 0 auto;
    }
    .sections-slider__item {
        max-width: 280px;
        gap: 20px;
    }
    .sections-slider__item-title {
        font: 18px/120% Roboto, sans-serif;
        padding: 0 8px;
    }
}

@media screen and (max-width: 767px) {

    .catalog {
        margin-top: 64px;
    }
    .catalog__card-women,
    .catalog__card-men {
        gap: 12px;
        margin: 0 auto;
    }
    .catalog__card-image {
        height: 167px;
    }
    .catalog__card-menu {
        padding: 0 8px;
        margin-top: 16px;
    }
    .catalog__card-menu-link {
        font-size: 13px;
        padding: 6px 0;
    }
    .sections-slider__item {
        max-width: 150px;
        gap: 12px;
    }
    .sections-slider__item-title {
        font: 13px/120% Roboto, sans-serif;
    }
    .catalog-type {
        margin: 20px 0 52px;
    }
    .catalog-type__container {
        /*display: grid;*/
        /*grid-template-columns: repeat(2, 1fr);*/
        flex-wrap: wrap;
        gap: 28px 12px;
    }
    .catalog-type__btn-more {
        margin-top: 24px;
        height: 40px;
        font-size: 14px;
    }
    .catalog-type__pagination {
        margin: 52px auto 0;
    }
    .catalog-type__page {
        font: 500 14px/130% Roboto;
        padding: 17px 10px 0;
    }
    .catalog-type__pagination-next,
    .catalog-type__pagination-prev {
        display: none;
    }
    .catalog-type__pagination-prev-mobile,
    .catalog-type__pagination-next-mobile {
        display: flex;
        gap: 16px;
        cursor: pointer;
        padding-top: 17px;
    }
    .catalog-type__pagination-prev-mobile > svg path,
    .catalog-type__pagination-next-mobile > svg path {
        transition: stroke .1s;
    }
    .catalog-type__pagination-prev-mobile:hover svg path,
    .catalog-type__pagination-next-mobile:hover svg path {
        stroke: #111827;
    }
    .catalog-type__pagination-prev-mobile.disabled,
    .catalog-type__pagination-next-mobile.disabled {
        visibility: hidden;
        opacity: 0;
    }
}