.cart-block {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 51px 0 120px;
}

.cart-block__title {
    font: 48px/130% Roboto;
    color: var(--text1);
    margin: 0;
}

.cart-block__container {
    display: flex;
    justify-content: space-between;
}

.cart-block__items {
    display: flex;
    flex-direction: column;
    max-width: 1153px;
    width: 100%;
}

.cart-block__item {
    padding: 32px 0;
    border-top: 1px solid #EAECF0;
}

.cart-block__item:last-of-type {
    border-bottom: 1px solid #EAECF0;
}

.cart-block__result {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    width: 100%;
    margin-left: 20px;
    height: 309px;
    position: sticky;
    top: 75px;
}

.cart-block__result-price-block {
    display: flex;
    justify-content: space-between;
}

.cart-block__result-name {
    font: 300 20px/150% Roboto;
    color: var(--text1);
}

.cart-block__result-quantity {
    font: 300 20px/150% Roboto;
    color: var(--text2);
    margin-left: 16px;
}

.cart-block__result-price {
    font: 20px/150% Roboto;
    color: var(--text1);
}

.cart-block__result-discount-block {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.cart-block__result-discount-name {
    font: 300 20px/normal Roboto;
    color: var(--text1);
}

.cart-block__result-discount-num {
    font: 20px/150% Roboto;
    color: var();
}

.cart-block__result-total-block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.cart-block__result-total-name {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #111827;
}

.cart-block__result-total-price {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #111827;
}

.cart-block__result-promo-input-block {
    display: flex;
    border: 1.5px solid #EAECF0;
    max-width: 420px;
    width: 100%;
    height: 56px;
    margin-top: 32px;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    transition: border .1s;
}

.cart-block__result-promo-input-block:hover {
    border: 1.5px solid #D6DAE0;
}

.cart-block__result-promo-input-block:focus-within {
    border: 1.5px solid #111827;
}

.cart-block__result-promo-input-block > .cart-block__result-promo-input-error {
    display: none;
}

.cart-block__result-promo-input-block > .cart-block__result-promo-input-success {
    display: none;
}

.cart-block__result-promo-input {
    border: none;
    outline: none;
    width: 100%;
    font: 18px/140% Roboto;
    color: var(--text1);
}

.cart-block__result-promo-input::placeholder {
    font: 18px/140% Roboto;
    color: var(--text3);
}

.cart-block__submit-btn {
    max-width: 420px;
    width: 100%;
    height: 56px;
    margin-top: 32px;
    border: none;
    outline: none;
    background-color: #111827;
    font: 18px/140% Roboto;
    color: var(--text4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .1s;
}

.cart-block__submit-btn:hover {
    background-color: #292F39;
}

.checkout-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 79px;
}

.checkout-info {
    display: flex;
    flex-direction: column;
    gap: 52px;
    max-width: 1154px;
    width: 100%;
    margin-top: 51px;
}

.checkout-info__title {
    font: 48px/130% Roboto;
    color: var(--text1);
    margin: 0;
    width: 100%;
}

.checkout-info__contacts {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 100%;
}

.checkout-info__subtitle {
    font: 28px/130% Roboto;
    color: var(--text1);
    margin: 0;
}

.checkout-info__contacts-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 24px 20px;
}

.checkout-info__contacts-form-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkout-info__contacts-form-input > label {
    font: 300 15px/140% Roboto;
    color: var(--text2);
}

.checkout__input {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    border: 1.5px solid #EAECF0;
    padding: 0 20px;
    box-sizing: border-box;
    transition: border .1s;
}

.checkout__input:hover {
    border: 1.5px solid #D6DAE0;
}

.checkout__input:focus-within {
    border: 1.5px solid #111827;
}

.checkout__input > .checkout__input-error {
    display: none;
}

.checkout__input > .checkout__input-success {
    display: none;
}

.checkout__input > input {
    width: 100%;
    height: 90%;
    border: none;
    font: 18px/140% Roboto;
    color: var(--text1);
}

.checkout__input > input::placeholder {
    font: 18px/140% Roboto;
    color: var(--text3);
}

.checkout__input > input:focus {
    outline: none;
}

.checkout-info__delivery {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkout-info__delivery-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    margin-top: 28px;
}

.checkout-info__delivery-tabs-delivery,
.checkout-info__delivery-tabs-pickup {
    font: 300 18px/140% Roboto;
    color: var(--text2);
    padding-bottom: 16px;
    border-bottom: 2px solid #E5E7EB;
    cursor: pointer;
    transition: border .1s, color .1s;
}

.checkout-info__delivery-tabs-delivery:not(.checkout-info__delivery-tabs-delivery_active):hover,
.checkout-info__delivery-tabs-pickup:not(.checkout-info__delivery-tabs-pickup_active):hover {
    border-bottom: 2px solid #9CA3AF;
}

.checkout-info__delivery-tabs-delivery_active,
.checkout-info__delivery-tabs-pickup_active {
    font-weight: 400;
    color: var(--text5);
    border-bottom: 2px solid #0F1523;
}

.checkout-info__delivery-content {
    display: flex;
    margin-top: 28px;
    gap: 20px;
}

.checkout-info__delivery-content-street {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
}

.checkout-info__delivery-content-street > label {
    font: 300 15px/140% Roboto;
    color: var(--text2);
    margin-bottom: 8px;
}

.checkout-info__delivery-content-entrance,
.checkout-info__delivery-content-house {
    display: flex;
    flex-direction: column;
    max-width: 156px;
    width: 100%;
}

.checkout-info__delivery-content-entrance > label,
.checkout-info__delivery-content-house > label {
    font: 300 15px/140% Roboto;
    color: var(--text2);
    margin-bottom: 8px;
}

.checkout-info__delivery-content-street input,
.checkout-info__delivery-content-entrance input,
.checkout-info__delivery-content-house input {
    width: 100%;
    height: 56px;
    border: 1.5px solid #EAECF0;
    font: 18px/140% Roboto;
    color: var(--text1);
    transition: border .1s;
    padding: 0 20px;
    box-sizing: border-box;
}

.checkout-info__delivery-content-street input:hover,
.checkout-info__delivery-content-entrance input:hover,
.checkout-info__delivery-content-house input:hover {
    border: 1.5px solid #D6DAE0;
}

.checkout-info__delivery-content-street input:focus,
.checkout-info__delivery-content-entrance input:focus,
.checkout-info__delivery-content-house input:focus {
    outline: none;
    border: 1.5px solid #111827;
}

.checkout-info__delivery-content-street input::placeholder,
.checkout-info__delivery-content-entrance input::placeholder,
.checkout-info__delivery-content-house input::placeholder {
    font: 18px/140% Roboto;
    color: var(--text3);
}

.checkout-info__pickup-content {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}

.checkout-info__pickup-content-label {
    font: 300 15px/140% Roboto;
    color: var(--text2);
    margin-bottom: 8px;
}

.checkout-info__pickup-content-address {
    display: flex;
    height: 56px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    border: 1.5px solid #EAECF0;
}

.checkout-info__pickup-content-address > span {
    font: 18px/140% Roboto;
    color: var(--text1);
}

.checkout-info__date {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 100%;
}

.checkout-info__date-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.checkout-info__date-item {
    display: flex;
    max-width: 273px;
    width: 100%;
    height: 52px;
    padding: 0 16px;
    box-sizing: border-box;
    align-items: center;
    gap: 16px;
    border: 1.5px solid #EAECF0;
    cursor: pointer;
    transition: border .1s;
}

.checkout-info__date-item > label {
    font: 18px/140% Roboto;
    color: var(--text2);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color .1s;
}

.checkout-info__date-item > input {
    margin: 0;
}

.checkout-info__date-item:not(.checkout-info__active):hover {
    border: 1.5px solid #D6DAE0;
}

.checkout-info__pay {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 100%;
}

.checkout-info__pay-container {
    display: flex;
    gap: 20px;
}

.checkout-info__pay-cash,
.checkout-info__pay-credit {
    display: flex;
    max-width: 567px;
    width: 100%;
    height: 52px;
    padding: 0 16px;
    box-sizing: border-box;
    align-items: center;
    gap: 16px;
    border: 1.5px solid #EAECF0;
    cursor: pointer;
    transition: border .1s;
}

.checkout-info__pay-cash > label,
.checkout-info__pay-credit > label {
    font: 18px/140% Roboto;
    color: var(--text2);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color .1s;
}

.checkout-info__pay-cash > input,
.checkout-info__pay-credit > input {
    margin: 0;
}

.checkout-info__pay-cash:not(.checkout-info__active):hover,
.checkout-info__pay-credit:not(.checkout-info__active):hover {
    border: 1.5px solid #D6DAE0;
}

.checkout-info__active {
    border: 1.5px solid #111827;
}

.checkout-info__active > label {
    color: var(--text1);
}

.checkout-cart {
    margin-top: 51px;
    margin-left: 20px;
    position: sticky;
    top: 75px;
    max-width: 421px;
    width: 100%;
    height: 519px;
}

.checkout-cart__items {
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 40px;
    border-bottom: 1px solid #EAECF0;
}

.checkout-cart__item {
    max-width: 127px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkout-cart__item > span {
    font: 300 15px/140% Roboto;
    color: var(--text2);
}

.checkout-cart__pay {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.checkout-cart__pay-price-block {
    display: flex;
    justify-content: space-between;
}

.checkout-cart__pay-name {
    font: 300 20px/150% Roboto;
    color: #111827;
}

.checkout-cart__pay-quantity {
    font: 300 20px/150% Roboto;
    color: #5C636E;
    margin-left: 16px;
}

.checkout-cart__pay-price {
    font: 20px/150% Roboto;
    color: #111827;
}

.checkout-cart__pay-discount-block {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.checkout-cart__pay-discount-name {
    font: 300 20px/150% Roboto;
    color: #111827;
}

.checkout-cart__pay-discount-num {
    font: 20px/150% Roboto;
    color: #111827;
}

.checkout-cart__pay-total-block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.checkout-cart__pay-total-name {
    font: 24px/120% Roboto;
    color: #111827;
}

.checkout-cart__pay-total-price {
    font: 36px/130% Roboto;
    color: #111827;
}

.checkout-cart__pay-submit-btn {
    width: 100%;
    height: 56px;
    margin-top: 32px;
    border: none;
    outline: none;
    background-color: #111827;
    font: 18px/140% Roboto;
    color: var(--text4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .1s;
}

.checkout-cart__pay-submit-btn:hover {
    background-color: #292F39;
}

.location-container{
    position: relative;
}
.location-list {
    max-height: 300px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    z-index: 99;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    padding: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
}

.location-item {
    padding: 10px;
    cursor: pointer;
    transition: background .1s ease-in-out;
}

.location-item:hover {
    background: #f0f0f0;
}

.checkout-success-block {
    display: flex;
    flex-direction: column;
}

.checkout-success-block__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 174px auto 0;
    color: var(--text1);
}

.checkout-success-block__info-icon {
    margin-bottom: 4px;
}

.checkout-success-block__info-message {
    font: 28px/130% Roboto;
    margin-top: 24px;
}

.checkout-success-block__info-text {
    font: 300 18px/160% Roboto;
    margin-top: 13px;
}

.checkout-success-block__buttons {
    margin: 185px auto 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 566px;
    width: 100%;
}

.checkout-success-block__submit {
    display: flex;
    width: 100%;
    height: 56px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: #111827;
    font: 18px/140% Roboto;
    color: var(--text4);
    cursor: pointer;
    transition: background-color .1s;
}

.checkout-success-block__submit:hover {
    background-color: #292F39;
}

.checkout-success-block__return {
    display: flex;
    width: 100%;
    height: 56px;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #E5E7EB;
    box-sizing: border-box;
    font: 18px/140% Roboto;
    text-decoration: none;
    color: var(--text1);
    cursor: pointer;
    transition: border .1s;
}

.checkout-success-block__return:hover {
    border: 1.5px solid #A1A8B4;
}

@media screen and (max-width: 1729px) {
    .checkout-info {
        max-width: 1060px;
    }
}

@media screen and (max-width: 1599px) {
    .checkout-info {
        max-width: 950px;
    }
}

@media screen and (max-width: 1485px) {
    .checkout-info {
        max-width: 800px;
    }
}

@media screen and (max-width: 1319px) {
    .cart-block__title {
        font-size: 40px;
    }
    .cart-block__result {
        max-width: 320px;
    }
    .cart-block__result-name {
        font-size: 18px;
    }
    .cart-block__result-quantity {
        font-size: 18px;
    }
    .cart-block__result-price {
        font-size: 18px;
    }
    .cart-block__result-discount-name {
        font-size: 18px;
    }
    .cart-block__result-discount-num {
        font-size: 18px;
    }
    .cart-block__result-total-name {
        font-size: 20px;
    }
    .cart-block__result-total-price {
        font-size: 28px;
    }
    .checkout-info {
        max-width: 750px;
    }
    .checkout-info__title {
        font: 40px/130% Roboto;
    }
    .checkout-info__subtitle {
        font: 24px/130% Roboto;
    }
    .checkout-info__contacts-form {
        grid-template-columns: 1fr;
    }
    .checkout-info__delivery-content {
        flex-wrap: wrap;
    }
    .checkout-info__date-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .checkout-info__pay {
        display: flex;
        flex-direction: column;
        gap: 28px;
        width: 100%;
    }
    .checkout-info__pay-container {
        flex-direction: column;
    }
    .checkout-cart {
        max-width: 421px;
        height: 519px;
    }
    .checkout-cart__pay-total-price {
        font: 32px/130% Roboto;
    }
    .checkout-success-block__info {
        gap: 20px;
        margin: 100px auto 0;
    }
    .checkout-success-block__info-icon {
        margin-bottom: 10px;
    }
    .checkout-success-block__info-message {
        font-size: 20px;
    }
    .checkout-success-block__info-text {
        font-size: 13px;
        line-height: 130%;
    }
    .checkout-success-block__buttons {
        margin: 62px auto 0;
        gap: 12px;
    }
    .checkout-success-block__submit {
        height: 44px;
        font-size: 14px;
    }
    .checkout-success-block__return {
        height: 44px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1130px) {
    .checkout-info {
        max-width: 550px;
    }
}

@media screen and (max-width: 900px) {
    .checkout-info {
        max-width: 400px;
    }
}

@media screen and (max-width: 767px) {
    .cart-block {
        gap: 24px;
        margin: 24px 0 274px;
    }
    .cart-block__title {
        font-size: 24px;
        line-height: 120%;
    }
    .cart-block__container {
        flex-direction: column;
        justify-content: unset;
    }
    .cart-block__items {
        gap: 24px;
    }
    .cart-block__item {
        padding: 0;
        border-top: none;
    }
    .cart-block__item:last-of-type {
        border-bottom: none;
    }
    .cart-block__result {
        max-width: unset;
        margin-left: unset;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        box-sizing: border-box;
        background-color: #FFF;
        border-top: 1px solid #EAECF0;
        height: unset;
        top: unset;
    }
    .cart-block__result-name {
        font-size: 13px;
        line-height: 130%;
    }
    .cart-block__result-quantity {
        font-size: 13px;
        line-height: 130%;
        margin-left: 13px;
    }
    .cart-block__result-price {
        font-size: 13px;
        line-height: 140%;
    }
    .cart-block__result-discount-block {
        margin-top: 7px;
    }
    .cart-block__result-discount-name {
        font-size: 13px;
        line-height: 130%;
    }
    .cart-block__result-discount-num {
        font-size: 13px;
        line-height: 140%;
    }
    .cart-block__result-total-block {
        margin-top: 10px;
    }
    .cart-block__result-total-name {
        font-size: 16px;
        line-height: 140%;
    }
    .cart-block__result-total-price {
        font-size: 20px;
    }
    .cart-block__result-promo-input-block {
        max-width: 420px;
        height: 44px;
        margin-top: 20px;
        padding: 0 16px;
    }
    .cart-block__result-promo-input {
        font-size: 14px;
    }
    .cart-block__result-promo-input::placeholder {
        font-size: 14px;
    }
    .cart-block__submit-btn {
        max-width: 420px;
        height: 44px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 100%;
    }
    .checkout-block {
        justify-content: unset;
        flex-direction: column;
        margin-bottom: 339px;
    }
    .checkout-info {
        gap: 32px;
        margin-top: 24px;
    }
    .checkout-info__title {
        font: 24px/120% Roboto;
    }
    .checkout-info__subtitle {
        font: 18px/130% Roboto;
    }
    .checkout-info__contacts {
        gap: 16px;
    }
    .checkout-info__contacts-form {
        gap: 16px;
    }
    .checkout-info__contacts-form-input label {
        font: 300 12px/140% Roboto;
    }
    .checkout__input {
        height: 44px;
        padding: 0 16px;
    }
    .checkout__input input {
        font: 14px/140% Roboto;
    }
    .checkout__input input::placeholder {
        font: 14px/140% Roboto;
    }
    .checkout-info__delivery-tabs {
        gap: 12px;
        margin-top: 20px;
    }
    .checkout-info__delivery-tabs-delivery,
    .checkout-info__delivery-tabs-pickup {
        font: 400 14px/140% Roboto;
        padding-bottom: 12px;
    }
    .checkout-info__delivery-content {
        margin-top: 20px;
        gap: 16px 12px;
    }
    .checkout-info__delivery-content label {
        font-size: 12px;
    }
    .checkout-info__delivery-content-entrance,
    .checkout-info__delivery-content-house {
        max-width: 134px;
    }
    .checkout-info__delivery-content-street input,
    .checkout-info__delivery-content-entrance input,
    .checkout-info__delivery-content-house input {
        height: 44px;
        font-size: 14px;
        padding: 0 16px;
    }
    .checkout-info__delivery-content-street input::placeholder,
    .checkout-info__delivery-content-entrance input::placeholder,
    .checkout-info__delivery-content-house input::placeholder {
        font-size: 14px;
    }
    .checkout-info__pickup-content {
        margin-top: 20px;
    }
    .checkout-info__pickup-content-label {
        font: 300 12px/140% Roboto;
    }
    .checkout-info__pickup-content-address {
        height: 44px;
        padding: 0 16px;
        white-space: nowrap;
    }
    .checkout-info__pickup-content-address span {
        font: 14px/140% Roboto;
    }
    .checkout-info__date {
        gap: 16px;
    }
    .checkout-info__date-container {
        gap: 8px 6px;
    }
    .checkout-info__date-item {
        max-width: unset;
        height: 36px;
        padding: 0 11px;
        gap: 12px;
    }
    .checkout-info__date-item > label {
        font: 13px/140% Roboto;
        color: var(--text2);
    }
    .checkout-info__pay {
        gap: 16px;
    }
    .checkout-info__pay-container {
        flex-direction: column;
        gap: 8px;
    }
    .checkout-info__pay-cash,
    .checkout-info__pay-credit {
        height: 36px;
        padding: 0 11px;
        gap: 12px;
    }
    .checkout-info__pay-cash > label,
    .checkout-info__pay-credit > label {
        font: 13px/140% Roboto;
    }
    .checkout-cart {
        margin-top: unset;
        margin-left: unset;
        position: fixed;
        top: unset;
        bottom: 0;
        left: 0;
        max-width: unset;
        height: unset;
        background-color: var(--bg1);
        box-sizing: border-box;
        border-top: 1px solid #EAECF0;
    }
    .checkout-cart__items {
        padding: 20px;
        box-sizing: border-box;
    }
    .checkout-cart__item {
        max-width: 61px;
    }
    .checkout-cart__item span {
        display: none;
    }
    .checkout-cart__pay {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0;
        padding: 20px;
        box-sizing: border-box;
    }
    .checkout-cart__pay-name {
        font: 300 13px/130% Roboto;
    }
    .checkout-cart__pay-quantity {
        font: 300 13px/150% Roboto;
    }
    .checkout-cart__pay-price {
        font: 13px/140% Roboto;
    }
    .checkout-cart__pay-discount-name {
        font: 300 13px/130% Roboto;
    }
    .checkout-cart__pay-discount-num {
        font: 13px/140% Roboto;
    }
    .checkout-cart__pay-total-block {
        margin-top: 12px;
    }
    .checkout-cart__pay-total-name {
        font: 16px/140% Roboto;
    }
    .checkout-cart__pay-total-price {
        font: 20px/130% Roboto;
    }
    .checkout-cart__pay-submit-btn {
        height: 44px;
        margin-top: 20px;
        font: 14px/140% Roboto;
    }
    .checkout-success-block__info {
        gap: 0;
        margin: 62px auto 0;
    }
    .checkout-success-block__info-icon {
        margin-bottom: 5px;
    }
    .checkout-success-block__info-icon svg {
        width: 100px;
        height: 100px;
    }
    .checkout-success-block__info-message {
        font-size: 20px;
        margin-top: 10px;
    }
    .checkout-success-block__info-text {
        font-size: 13px;
        line-height: 130%;
        margin-top: 20px;
    }
    .checkout-success-block__buttons {
        margin: 100px auto 0;
        gap: 12px;
    }
    .checkout-success-block__submit {
        height: 44px;
        font-size: 14px;
    }
    .checkout-success-block__return {
        height: 44px;
        font-size: 14px;
    }
}
