.header {
    width: 100%;
    background-color: var(--bg1);
}

.header__section {
    width: 100%;
    height: auto;
    background-color: var(--bg1);
    position: sticky;
    top: 0;
    z-index: 2;
    transition: box-shadow 0.2s ease-out;
}

.header__section_border {
    border-bottom: 1px solid #EAECF0;
}

.header__container {
    max-width: 1780px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header__relative {
    position: relative;
    max-width: 1780px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.header-shadow {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.03), 0 3px 7px 0 rgba(0, 0, 0, 0.03), 0 12px 12px 0 rgba(0, 0, 0, 0.03), 0 27px 16px 0 rgba(0, 0, 0, 0.02), 0 48px 19px 0 rgba(0, 0, 0, 0.00), 0 75px 21px 0 rgba(0, 0, 0, 0.00);
}

.header__top {
    background-color: #F5F6F8;
}

.m-header__top {
    display: none;
}

.m-header__menu {
    display: none;
}

.header__top-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1740px;
    height: 40px;
    padding: 0 20px;
    margin: 0 auto;
    font: 300 15px/100% Roboto;
    color: var(--text2);
    transition: color .1s;
}

.header__top-container span:hover  {
    color: var(--text5);
    transition: color .1s;
    cursor: pointer;
}

.header__top-contacts {
    display: flex;
    gap: 36px;
    align-items: center;
}

.header__top-contacts a {
    font: 300 15px/100% Roboto;
    color: var(--text2);
    cursor: pointer;
    transition: color .1s;
}

.header__top-contacts a:hover {
    color: var(--text5);
}

.header__top-links {
    display: flex;
    gap: 28px;
    align-items: center;
}

.header__top-links a {
    font: 300 15px/140% Roboto;
    color: #5C636E;
    transition: color .1s linear;
}

.header__top-links a:hover {
    color: var(--text1);
}

.header__main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: var(--bg1);
}

.header__main-tabs {
    display: flex;
    max-width: 284px;
    width: 100%;
    font: 18px/140% Roboto;
    color: var(--text1);
}

.header__main-tabs div:first-child {
    padding-right: 20px;
}

.header__main-tabs div:last-child {
    padding-left: 20px;
}

.header__main-tabs-women,
.header__main-tabs-men {
    cursor: pointer;
    display: flex;
}

.header__main-tabs-women span,
.header__main-tabs-men span {
    padding: 25px 0 26px 0;
    box-sizing: border-box;
    transition: border-bottom-color .1s;
    border-bottom: 1px solid #FFF;
}

.header__main-tabs-women span:after,
.header__main-tabs-men span:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #FFF;
}

.header__main-tabs-women:hover span,
.header__main-tabs-men:hover span {
    z-index: 1;
    border-bottom: 1px solid #111827;
}

.header__main-menu-btn {
    display: none;
    width: 20px;
    height: 20px;
}

.header__main-logo {
    margin: 0 auto;
}

.header__main-logo a {
    font: 700 37.895px/130% Roboto;
    letter-spacing: 3.789px;
    text-transform: uppercase;
    color: var(--text5);
}

.header__main-search {
    display: flex;
    cursor: pointer;
}

.header__main-icons {
    display: flex;
    gap: 36px;
}

.header__main-icons a {
    cursor: pointer;
}

.header__main-icons div {
    cursor: pointer;
}

.header__main-favourites {
    display: block;
}

.header__main-favourites-num,
.header__main-dressing-num,
.header__main-cart-num {
    position: relative;
    font: 700 14px/120% Roboto;
    color: var(--text5);
}

.header__main-favourites-num span,
.header__main-dressing-num span,
.header__main-cart-num span {
    position: absolute;
    top: -39px;
    right: -8px;
}

.header__main-women-catalog-container,
.header__main-men-catalog-container,
.header__main-search-catalog-container {
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(15, 21, 35, .5);
    transition: visibility .1s linear, opacity .1s linear;
    visibility: hidden;
    opacity: 0;
}

.header__main-catalog {
    width: 100%;
    padding: 32px 80px;
    box-sizing: border-box;
    border-top: 1px solid #EAECF0;
    background-color: var(--bg1);
    display: flex;
    justify-content: space-between;
}

.header__main-catalog:before {
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    top: -14px;
    left: 0;
}

.header__main-search-catalog {
    width: 100%;
    padding: 0 80px;
    box-sizing: border-box;
    border-top: 1px solid #EAECF0;
    background-color: var(--bg1);
    display: flex;
    flex-direction: column;
}

.header__main-search-catalog:before {
    content: "";
    height: 25px;
    width: 100%;
    position: absolute;
    top: -25px;
    left: 0;
}

.header__main-search-content {
    display: flex;
    justify-content: space-between;
}

.header__main-search-example {
    overflow-x: hidden;
    padding-bottom: 32px;
}

.header__main-catalog-list {
    display: flex;
    gap: 20px;
}

.header__main-catalog-col {
    display: flex;
    flex-direction: column;
    /*gap: 20px;*/
}

.header__main-catalog-col-mobile {
    display: none;
    flex-direction: column;
    /*gap: 20px;*/
}

.header__main-catalog-item {
    display: flex;
    font: 16px/140% Roboto;
    color: var(--text2);
    width: 273px;
    transition: transform .2s linear, color .2s linear;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 0;
}

.header__main-catalog-col-title {
    font: 18px/140% Roboto;
    color: var(--text1);
}

.header__main-catalog-item:first-of-type {
    padding-top: 0;
}

.header__main-catalog-item:last-of-type {
    padding-bottom: 0;
}

.header__main-catalog-item:hover {
    transform: translateX(12px);
    color: var(--text1);
}

.header__main-catalog-example {
    display: flex;
    gap: 20px;
}

.header__main-catalog-example-item {
    max-width: 274px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__main-catalog-example-item span {
    font: 18px/140% Roboto;
    color: var(--text5);
    margin-top: 12px;
}

.header__main-catalog-example-item-photo {
    width: 100%;
    aspect-ratio: 274 / 408;
    height: max-content;
}

.header__main-catalog-example-item-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__favourites_empty-overlay {
    width: max-content;
    right: 10px;
    top: 63px;
    max-width: 400px;
    visibility: hidden;
    opacity: 0;
    transition: visibility .1s linear, opacity .1s linear;
    position: absolute;
    box-shadow: 0 20px 30px 0 rgba(4, 19, 43, 0.06);
}

.header__dressing_empty-overlay {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 20px 30px 0 rgba(4, 19, 43, 0.06);
    position: absolute;
    top: 63px;
    right: 145px;
    visibility: hidden;
    opacity: 0;
    transition: visibility .1s linear, opacity .1s linear;
}

.header__cart_empty-overlay {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 20px 30px 0 rgba(4, 19, 43, 0.06);
    position: absolute;
    top: 63px;
    right: 81px;
    visibility: hidden;
    opacity: 0;
    transition: visibility .1s linear, opacity .1s linear;
}

.header__auth {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px;
    box-sizing: border-box;
    background-color: var(--bg1);
    align-items: center;
    max-width: 400px;
    width: 100%;
    border: 1px solid #EAECF0;
    box-shadow: 0 20px 30px 0 rgba(4, 19, 43, 0.06);
    position: absolute;
    top: 63px;
    right: 277px;
    visibility: hidden;
    opacity: 0;
    transition: visibility .1s linear, opacity .1s linear;
}

.header__auth-title {
    font: 24px/120% Roboto;
    color: var(--text1);
}

.header__auth-text {
    font: 300 15px/140% Roboto;
    color: var(--text2);
    margin-top: 16px;
}

.header__auth-reg-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    background-color: #111827;
    font: 18px/140% Roboto;
    color: var(--text4);
    margin-top: 40px;
    cursor: pointer;
    border: none;
    transition: background-color .1s linear;
}

.header__auth-reg-btn:hover {
    background-color: #292F39;
}

.header__auth-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 29px;
    font: 18px/160% Roboto;
    color: var(--text1);
    margin-top: 16px;
    border: none;
    background-color: var(--bg1);
    cursor: pointer;
}

.header__dressing_empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: var(--bg1);
    border: 1px solid #EAECF0;
}

.header__cart_empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: var(--bg1);
    border: 1px solid #EAECF0;
}

.header__favourites_empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: var(--bg1);
    border: 1px solid #EAECF0;
}

.header__dressing_empty:before,
.header__cart_empty:before,
.header__favourites_empty:before,
.header__auth:before {
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    top: -15px;
}

.header__dressing-image,
.header__cart-image,
.header__favourites-image {
    width: 80px;
    height: 80px;
    display: flex;
}

.header__dressing-text,
.header__cart-text,
.header__favourites-text {
    font: 24px/120% Roboto;
    color: var(--text1);
    margin-top: 20px;
}

.header__dressing-info,
.header__cart-info,
.header__favourites-info {
    font: 300 15px/140% Roboto;
    color: var(--text2);
    margin-top: 16px;
    text-align: center;
}

.header__main-search-input {
    width: 100%;
    height: 126px;
    border: none;
    outline: none;
    font: 48px/130% Roboto;
    color: var(--text1);
    margin-bottom: 12px;
}

.header__main-search-input::placeholder {
    font: 48px/130% Roboto;
    color: #E5E7EB;
}

.header__main-search-input:focus {
    outline: none;
}

.header__main-catalog-example-item {
    max-width: 274px;
    width: 100%;
}

.header__main-catalog-example-item span {
    font: 18px/140% Roboto;
    color: var(--text5);
    margin-top: 12px;
}

.m-header-popup-button-container {
    display: none;
}

.header-min {
    width: 100%;
    background-color: #FFF;
    height: 73px;
    border-bottom: 1px solid #EAECF0;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-min__container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 12px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-min__return {
    display: flex;
    gap: 12px;
    flex-basis: 26%;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.header-min__return span {
    font: 18px/140% Roboto;
    color: var(--text1);
}

.header-min__logo {
    font-size: 37.895px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 3.789px;
    text-transform: uppercase;
    color: #111827;
    flex-basis: 20%;
    text-align: center;
}

.header-min__tel {
    font: 18px/140% Roboto;
    color: var(--text1);
    flex-basis: 26%;
    text-align: end;
}

.header-min__search {
    display: none;
}
.header-min__phone {
    display: none;
}

.breadcrumbs {
    display: flex;
    padding: 27px 0 20px;
    background:white;
}

.breadcrumb-container{
    background:white;

}

.breadcrumbs__item {
    font: 16px/140% Roboto;
    color: #525964;
    text-decoration: none;
    transition: color .1s linear;
}

.breadcrumbs__item:not(:last-of-type):hover {
    color: #0F1523;
    text-decoration:none;
}

.bx-breadcrumb-item-link:hover{
    text-decoration:none;
}

.breadcrumbs__item_current {
    color: var(--text3);
    cursor: default;
}

.page-title {
    font: 48px/130% Roboto;
    color: var(--text1);
    margin: 28px 0 0;
}


@media screen and (max-width: 1319px) {
    .header__top-container  {
        font-size: 14px;
    }
    .header__top-contacts {
        gap: 20px;
    }
    .header__top-links {
        gap: 16px;
    }
    .header__main-tabs {
        font-size: 14px;
        flex-basis: 30%;
    }
    .header__main-logo {
        font-size: 28px;
        flex-basis: 30%;
        text-align: center;
    }
    .header__main-icons {
        gap: 14px;
        flex-basis: 30%;
        justify-content: end;
    }
    .header__main-search svg,
    .header__main-profile svg,
    .header__main-favourites svg,
    .header__main-dressing svg,
    .header__main-cart svg {
        width: 24px;
        height: 24px;
    }
    .header__main-women-catalog-container,
    .header__main-men-catalog-container,
    .header__main-search-catalog-container {
        top: 71px;
    }
    .header__main-catalog {
        padding: 20px;
    }
    .header__main-catalog:before {
        content: "";
        height: 0;
        width: 0;
        top: 0;
    }
    .header__main-search-catalog {
        padding: 0 20px 20px;
    }
    .header__main-search-catalog:before {
        content: "";
        height: 0;
        width: 0;
        top: 0;
    }
    .header__main-search-content {
        display: flex;
        justify-content: space-between;
    }
    .header__main-catalog-item {
        font: 14px/120% Roboto;
        width: 220px;
    }
    .header__main-catalog-col-title {
        font: 16px/120% Roboto;
    }
    .header__cart_empty-overlay {
        right: 20px;
    }
    .header__dressing_empty-overlay {
        right: 67px;
    }
    .header__favourites_empty-overlay {
        right: 113px;
    }
    .header__auth {
        right: 162px;
    }
    .header__dressing_empty:before,
    .header__cart_empty:before,
    .header__favourites_empty:before,
    .header__auth:before {
        content: "";
        height: 0;
        width: 0;
        top: 0;
    }
    .header__main-search-input {
        height: 80px;
        font: 40px/130% Roboto;
    }
    .header__main-search-input::placeholder {
        font: 40px/130% Roboto;
    }
    .header__main-catalog-example-item span {
        font: 14px/140% Roboto;
    }
    .header-min {
        height: 60px;
    }
    .header-min__return span {
        font-size: 16px;
    }
    .header-min__logo {
        font-size: 28px;
    }
    .header-min__tel {
        font-size: 16px;
    }
    .page-title {
        font: 40px/130% Roboto;
    }
}

@media screen and (max-width: 767px) {

    .header__section {
        position: static;
        height: 48px;
        box-sizing: border-box;
    }
    .header__top {
        display: none;
    }
    .header__main-tabs {
        font-size: 13px;
        z-index: 2;
    }
    .header__main-tabs div:first-child {
        padding-right: 10px;
    }
    .header__main-tabs div:last-child {
        padding-left: 10px;
    }
    .header__main-tabs-women span,
    .header__main-tabs-men span {
        padding: 14px 0 14px 0;
        z-index: 6;
    }
    .header__main-logo {
        display: none;
    }
    .header__main-search {
        display: none;
    }
    .header__main-icons {
        gap: 16px;
    }
    .header__main-favourites svg,
    .header__main-dressing svg,
    .header__main-cart svg {
        width: 20px;
        height: 20px;
    }
    .header__main-favourites-num,
    .header__main-dressing-num,
    .header__main-cart-num {
        font: 500 10px/120% Roboto;
    }
    .header__main-favourites-num span,
    .header__main-dressing-num span,
    .header__main-cart-num span {
        position: absolute;
        top: -28px;
        right: -7px;
    }
    .header__main-profile {
        display: none;
    }
    .header__main-women-catalog-container,
    .header__main-men-catalog-container {
        top: 97px;
        /*visibility: visible;*/
        z-index: 10;
        height: calc(100vh - 90px);
    }
    .header__main-search-catalog-container {
        position: fixed;
        top: 48px;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        /*visibility: hidden;*/
        /*transition: opacity .2s;*/
        /*display: block;*/
    }
    .header__main-catalog {
        padding: 20px;
        height: 100%;
        overflow-y: scroll;
    }
    .header__main-search-catalog {
        padding: 0 20px 20px;
        height: 100%;
        overflow-y: scroll;
    }
    .header__main-search-input {
        height: 79px;
        font: 24px/120% Roboto;
        color: var(--text1);
        margin-bottom: 0;
    }
    .header__main-search-input::placeholder {
        font: 24px/120% Roboto;
    }
    .header__main-search-content {
        display: flex;
        justify-content: unset;
        flex-direction: column;
    }
    .header__main-search-example {
        margin-top: 16px;
    }
    .header__main-catalog-list {
        display: flex;
        flex-direction: column;
        gap: 0;
        overflow: auto;
        width: 100%;
        /*height: 90%;*/
    }
    .header__main-catalog-col {
        padding: 16px 0;
        border-top: 1px solid #EAECF0;
    }
    .header__main-catalog-item {
        font: 13px/140% Roboto;
        width: 280px;
    }
    .header__main-catalog-col-title {
        font: 15px/140% Roboto;
    }
    .header__main-catalog-item:hover {
        transform: translateX(12px);
    }
    .header__main-catalog-col-mobile {
        display: flex;
        padding-bottom: 16px;
    }
    .header__main-catalog-example {
        display: none;
    }
    .header__favourites_empty-overlay,
    .header__dressing_empty-overlay,
    .header__cart_empty-overlay {
        max-width: unset;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        align-items: end;
        position: fixed;
        bottom: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 4;
        top: 0;
        right: 0;
        box-shadow: none;
        user-select: none;
    }
    .header__favourites_empty {
        right: 0;
        max-width: unset;
        padding: 52px 35px 123px 35px;
        box-shadow: none;
        position: relative;
        top: 0;
    }
    .header__dressing_empty {
        right: 0;
        max-width: unset;
        padding: 52px 48px 123px;
        box-shadow: none;
        position: relative;
        top: 0;
    }
    .header__cart_empty {
        right: 0;
        max-width: unset;
        padding: 52px 48px 123px;
        box-shadow: none;
        position: relative;
        top: 0;
    }
    .header__favourites-text,
    .header__dressing-text,
    .header__cart-text {
        font: 20px/130% Roboto;
        margin-top: 24px;
        text-align: center;
    }
    .header__favourites-info,
    .header__dressing-info,
    .header__cart-info {
        font: 300 14px/140% Roboto;
        color: var(--text2);
        margin-top: 14px;
    }
    .header__mobile-grab {
        display: flex;
        width: 40px;
        height: 4px;
        background-color: #F3F4F6;
        border-radius: 7px;
        opacity: 0.3;
        position: absolute;
        top: -10px;
        left: calc(50% - 20px);
    }
    .header__main-catalog-example-item {
        max-width: 134px;
        width: 100%;
    }
    .m-header-popup-button-container {
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        display: flex;
        border-top: 1px solid #EAECF0;
        background-color: var(--bg1);
        position: fixed;
        bottom: 0;
        z-index: 5;
        /*visibility: hidden;*/
        /*opacity: 0;*/
        transition: visibility .1s linear, opacity .1s;
    }
    .m-header-popup-button {
        width: 100%;
        height: 44px;
        border: none;
        background-color: #111827;
        font: 14px/140% Roboto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text4);
    }
    .m-header__top {
        display: flex;
        justify-content: space-between;
        padding: 12px 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #EAECF0;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: var(--bg1);
        z-index: 3;
    }
    .m-header__top-menu-btn {
        width: 20px;
        height: 20px;
    }
    .m-header__top-logo {
        text-align: center;
    }
    .m-header__top-logo a {
        font: 500 18.323px/130% Roboto;
        letter-spacing: 1.832px;
        text-transform: uppercase;
        color: var(--text1);
    }
    .m-header__top-search svg {
        width: 20px;
        height: 20px;
    }
    .m-header__menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        visibility: hidden;
        transition: visibility .1s linear , opacity .1s, transform .1s;
        display: block;
    }
    .m-header__menu-overlay {
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
    }
    .m-header__menu-container {
        max-width: 254px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--bg1);
        transform: translateX(-254px);
        transition: transform .1s linear;
    }
    .m-header__menu-logo {
        width: 100%;
        padding: 12px 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .m-header__menu-logo span {
        font: 500 18px/100% Roboto;
        letter-spacing: 1.832px;
        text-transform: uppercase;
        color: var(--text1);
        display: flex;
        align-items: center;
    }
    .m-header__menu-logo-close-btn {
        cursor: pointer;
    }
    .m-header__menu-auth-btn {
        width: 100%;
        height: 54px;
        border: 1px solid #EAECF0;
        display: flex;
        padding: 0 20px;
        box-sizing: border-box;
        align-items: center;
        background-color: var(--bg1);
        transition: background-color .1s linear;
    }
    .m-header__menu-auth-btn span {
        font: 16px/140% Roboto;
        color: var(--text5);
    }
    .m-header__menu-auth-btn:active {
        background-color: #F9FAFB;
    }
    .m-header__menu-profile {
        width: 100%;
        padding: 12px 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 20px;
        border: 1px solid #EAECF0;
        background-color: var(--bg1);
        transition: background-color .1s linear;
    }
    .m-header__menu-profile:active {
        background-color: #F9FAFB;
    }
    .m-header__menu-profile-avatar {
        width: 48px;
        height: 48px;
    }
    .m-header__menu-profile-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .m-header__menu-profile-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
    }
    .m-header__menu-profile-info-name {
        font: 16px/140% Roboto;
        color: var(--text5);
    }
    .m-header__menu-profile-info-phone {
        font: 13px/140% Roboto;
        color: #6B7280;
    }
    .m-header__menu-tabs {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0 20px;
        box-sizing: border-box;
        margin-top: 16px;
    }
    .m-header__menu-tabs a {
        font: 13px/140% Roboto;
        color: var(--text1);
        transition: translate .1s linear;
    }
    .m-header__menu-tabs a:active {
        translate: 8px;
    }
    .m-header__menu-contacts {
        display: flex;
        flex-direction: column;
        padding: 0 20px 20px;
        box-sizing: border-box;
    }
    .m-header__menu-contacts-tel {
        font: 18px/130% Roboto;
        color: var(--text1);
    }
    .m-header__menu-contacts-address {
        font: 13px/130% Roboto;
        color: var(--text1);
        margin-top: 20px;
    }
    .m-header__menu-contacts-credit {
        font: 13px/130% Roboto;
        color: var(--text1);
        margin-top: 20px;
    }
    .m-header__menu-contacts-about {
        font: 13px/130% Roboto;
        color: var(--text1);
        margin-top: 20px;
    }
    .header-min {
        height: 48px;
    }
    .header-min__return span {
        display: none;
    }
    .header-min__logo {
        font-size: 18px;
        letter-spacing: 1.832px;
    }
    .header-min__tel {
        display: none;
    }
    .header-min__search {
        display: flex;
        flex-basis: 26%;
        justify-content: end;
        cursor: pointer;
    }
    .header-min__phone {
        display: none;
        flex-basis: 26%;
        justify-content: end;
        cursor: pointer;
    }
    .breadcrumbs {
        display: none;
    }
    .page-title {
        font: 24px/120% Roboto;
        margin: 12px 0 0;
    }
}