.about-page {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 160px;
}

.section-about {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.about-block {
    display: flex;
    max-width: 1780px;
    width: 100%;
    padding: 32px 20px 289px;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    gap: 20px;
}

.about__photo {
    max-width: 420px;
    width: 100%;
    height: max-content;
    aspect-ratio: 420 / 810;
    display: flex;
    z-index: 1;
}

.about__photo_moved {
    position: relative;
    top: 160px;
}

.about__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__info {
    max-width: 574px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    z-index: 1;
    position: relative;
    top: 270px;
    left: 4px;
}

.about__info p {
    font: 18px/28px Roboto, sans-serif;
    color: #111827;
    margin: 0;
}

.about__info ul {
    font: 18px/28px Roboto, sans-serif;
    color: #111827;
    margin: 0;
    padding: 0;
}

.about__info ul li {
    font: 18px/28px Roboto, sans-serif;
    color: #111827;
    margin-left: 18px;
    list-style-type: disc;
}

.about__logo {
    max-width: 1111px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 70px;
    right: 62px;
}

.about-adv__block {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-auto-flow: column;
    max-width: 1780px;
    width: 100%;
    padding: 32px 20px 99px;
    box-sizing: border-box;
    margin: 0 auto;
    gap: 56px 35px;
}

.about-adv__block-item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-adv__block-item-num {
    font: 500 15px/120% Roboto, sans-serif;
    color: #9CA3AF;
}

.about-adv__block-item-title {
    font: 500 24px/120% Roboto, sans-serif;
    color: #111827;
    text-transform: uppercase;
    margin: 8px 0 0;
}

.about-adv__block-item-text {
    font: 18px/160% Roboto, sans-serif;
    color: #111827;
    margin: 16px 0 0;
}

.about-photo__block {
    display: flex;
    max-width: 1780px;
    width: 100%;
    flex-direction: column;
    gap: 32px;
    padding: 32px 20px 127px;
    box-sizing: border-box;
    margin: 0 auto;
}

.about-photo__block h2 {
    font: 48px/130% Roboto, sans-serif;
    color: #0F1523;
    margin: 0;
}

.about-photo__block-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.about-photo__block-image {
    width: 100%;
    display: flex;
}

.about-photo__block-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-photo__block-image.big {
    grid-row: span 2;
}

.about-reviews__container {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.about-reviews__block {
    display: flex;
    max-width: 1780px;
    width: 100%;
    flex-direction: column;
    gap: 37px;
    padding: 32px 20px 7px;
    box-sizing: border-box;
    margin: 0 auto;
}

.about-reviews__block h2 {
    font: 48px/130% Roboto, sans-serif;
    color: #0F1523;
    margin: 0;
}

.about-reviews__block-items {
    width: 100%;
    cursor: grab;
}

.about-review {
    display: flex;
    max-width: 714px;
    width: 100%;
    height: initial;
    padding: 32px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 22px;
    border: 1px solid #D1D5DB;
}

.about-review__source {
    max-width: 100px;
    width: max-content;
    height: max-content;
    display: flex;
}

.about-review__source img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-review__head {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.about-review__head-name {
    max-width: 275px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.about-review__head-name span:first-of-type {
    font: 18px/140% Roboto, sans-serif;
    color: #0F1523;
}

.about-review__head-name span:last-of-type {
    font: 300 16px/140% Roboto, sans-serif;
    color: #6B7280;
}

.about-review__body {
    display: flex;
    width: 100%;
}

.about-review__body p {
    font: 300 20px/150% Roboto, sans-serif;
    color: #343A44;
    margin: 0;
}



@media screen and (max-width: 1640px) {
    .about__photo {
        max-width: 350px;
    }
    .about__logo {
        max-width: 720px;
        top: 80px;
    }
}

@media screen and (max-width: 1320px) {
    .about-page {
        padding-bottom: 120px;
    }
    .about__photo {
        max-width: 280px;
    }
    .about__info {
        max-width: 430px;
        gap: 24px;
        top: 220px;
    }
    .about__info p {
        font: 16px/22px Roboto, sans-serif;
    }
    .about__info ul {
        font: 16px/22px Roboto, sans-serif;
    }
    .about__info ul li {
        font: 16px/22px Roboto, sans-serif;
    }
    .about__logo {
        max-width: 720px;
    }
    .about-adv__block-item-text {
        font: 16px/160% Roboto, sans-serif;
    }
    .about-review {
        max-width: 620px;
    }
    .about-review__body p {
        font: 300 18px/150% Roboto, sans-serif;
    }
}

@media screen and (max-width: 1100px) {
    .about-page {
        padding-bottom: 80px;
    }
    .about__photo {
        max-width: 220px;
    }
    .about__photo_moved {
        top: 85px;
    }
    .about__info {
        max-width: unset;
        top: 145px;
    }
    .about__info p {
        font: 16px/22px Roboto, sans-serif;
    }
    .about__logo {
        max-width: 590px;
        top: 20px;
    }
    .about-adv__block-item-title {
        font: 500 22px/120% Roboto, sans-serif;
    }
    .about-adv__block-item-text {
        font: 15px/160% Roboto, sans-serif;
    }
    .about-photo__block h2 {
        font: 40px/130% Roboto, sans-serif;
    }
    .about-photo__block-images {
        grid-template-columns: repeat(2, 1fr);
    }
    .about-reviews__block h2 {
        font: 40px/130% Roboto, sans-serif;
    }
}

@media screen and (max-width: 900px) {
    .about-page {
        padding-bottom: 60px;
    }
    .about__photo {
        max-width: 210px;
    }
    .about__info p {
        font: 14px/22px Roboto, sans-serif;
    }
    .about__info ul {
        font: 14px/22px Roboto, sans-serif;
    }
    .about__info ul li {
        font: 14px/22px Roboto, sans-serif;
    }
    .about__logo {
        max-width: 456px;
    }
}

@media screen and (max-width: 767px) {
    .about-block {
        padding: 32px 20px 0;
        flex-wrap: wrap;
    }
    .about__photo {
        max-width: unset;
        width: calc(50% - 10px);
        order: 1;
    }
    .about__photo_moved {
        position: static;
        top: unset;
        order: 2;
    }
    .about__info {
        position: static;
        order: 4;
    }
    .about__info p {
        font: 14px/22px Roboto, sans-serif;
    }
    .about__info ul {
        font: 14px/22px Roboto, sans-serif;
    }
    .about__info ul li {
        font: 14px/22px Roboto, sans-serif;
    }
    .about__logo {
        max-width: 456px;
        position: static;
        order: 3;
    }
    .about-adv__block {
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        padding: 64px 20px 32px;
        gap: 32px;
    }
    .about-adv__block-item-title {
        font: 500 20px/120% Roboto, sans-serif;
    }
    .about-adv__block-item-text {
        font: 14px/160% Roboto, sans-serif;
    }
    .about-photo__block {
        padding: 32px 20px 32px;
        gap: 20px;
    }
    .about-photo__block h2 {
        font: 24px/130% Roboto, sans-serif;
    }
    .about-photo__block-images {
        grid-template-columns: 1fr;
    }
    .about-reviews__block {
        gap: 20px;
    }
    .about-reviews__block h2 {
        font: 24px/130% Roboto, sans-serif;
    }
    .about-review {
        padding: 20px;
    }
    .about-review__head {
        justify-content: unset;
        flex-direction: column;
        gap: 20px;
    }
    .about-review__head-name span:first-of-type {
        font: 18px/140% Roboto, sans-serif;
    }
}