.section-consent {
    display: flex;
    width: 100%;
}

.consent-block {
    display: flex;
    flex-direction: column;
    max-width: 1780px;
    width: 100%;
    padding: 32px 20px 180px;
    box-sizing: border-box;
    margin: 0 auto;
    gap: 24px;
}

.consent-block__notice {
    font: 500 14px/20px Roboto, sans-serif;
    color: #5C636E;
    margin: 0 0 8px;
}

.consent-block p {
    font: 16px/28px Roboto, sans-serif;
    color: #111827;
    margin: 0;
}

.consent-block p a {
    color: #424CA0;
}

.consent-block ul {
    margin: 0;
    padding: 0;
}

.consent-block ul li {
    font: 16px/28px Roboto, sans-serif;
    color: #111827;
    margin-left: 24px;
    list-style-type: disc;
}

.consent-block ul li a {
    color: #424CA0;
}

.consent-block ol {
    margin: 0;
    padding: 0;
}

.consent-block ol li {
    font: 16px/28px Roboto, sans-serif;
    color: #111827;
    margin-left: 24px;
    list-style-type: decimal;
}

.consent-block ol li a {
    color: #424CA0;
}


@media screen and (max-width: 1640px) {}

@media screen and (max-width: 1320px) {
    .consent-block {
        padding: 32px 20px 120px;
    }
}

@media screen and (max-width: 1100px) {
    .consent-block {
        padding: 32px 20px 80px;
    }
}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 767px) {
    .consent-block {
        padding: 32px 20px 60px;
    }
    .consent-block p {
        font: 14px/24px Roboto, sans-serif;
    }
    .consent-block ul li {
        font: 14px/24px Roboto, sans-serif;
    }
    .consent-block ol li {
        font: 14px/24px Roboto, sans-serif;
    }
}