.product-card-details {
    display: flex;
    flex-direction: column;
    gap: 47px;
    max-width: 567px;
    width: 100%;
    background-color: var(--bg1);
    margin-left: auto;
}

.product-card-details__name {
    font: 40px/130% Roboto;
    color: var(--text1);
}

.product-card-details__head {
    display: flex;
    margin-top: 8px;
    align-items: center;
}

.product-card-details__head-num {
    color: #525964;
    font: 300 16px/140% Roboto;
    display: flex;
    flex-direction: column;
}

.product-card-details__head-stars {
    display: flex;
    gap: 4px;
    margin-left: 27px;
}

.product-card-details__head-star_active path {
    fill: #0F1523;
}

.product-card-details__head-reviews {
    color: var(--text1);
    font: 300 16px/140% Roboto;
    margin-left: 12px;
    text-decoration: none;
    cursor: pointer;
}

.product-card-details__photo-block {
    max-width: 1150px;
    width: 100%;
    height: 1490px;
    position: absolute;
    top: 0;
    left: -60px;
    background-color: var(--bg1);
    display: flex;
}

.product-card-details__photo-block-sticky {
    position: sticky;
    top: 76px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 800px;
    overflow-x: clip;
}

.product-card-details__photo-container {
    height: 750px;
}

.product-card-details__photo {
    display: flex;
    max-width: 512px;
    width: 100%;
    height: 750px;
}

.product-card-details__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card-details__photo-info {
    font: 300 18px/160% Roboto;
    color: var(--text1);
    margin-left: 80px;
}

.product-card-details__price-block {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.product-card-details__price {
    display: flex;
    gap: 16px;
    align-items: baseline;
}

.product-card-details__price-result {
    font: 36px/130% Roboto;
    color: var(--text1);
}

.product-card-details__price-current {
    font: 20px/130% Roboto;
    color: #6B7280;
    text-decoration: line-through;
}

.product-card-details__price-discount {
    font: 20px/130% Roboto;
    color: #3A61ED;
}

.product-card-details__price-credit {
    font: 18px/140% Roboto;
    color: #525964;
}

.product-card-details__color-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-card-details__color-title {
    font: 18px/140% Roboto;
    color: var(--text5);
}

.product-card-details__color-container {
    display: flex;
    margin-top:15px;
    gap: 12px;
}

.product-card-details__color,
.product-card-details__color-empty {
    padding-bottom: 6px;
    border-bottom: 2px solid #FFF;
    box-sizing: border-box;
    transition: border-bottom-color .1s;
    cursor: pointer;
}

.product-card-details__color:not(.product-card-details__color_active):hover,
.product-card-details__color-empty:not(.product-card-details__color_active):hover {
    padding-bottom: 6px;
    border-bottom: 2px solid #D1D5DB;
    box-sizing: border-box;
}

.product-card-details__color > div,
.product-card-details__color-empty > div {
    width: 40px;
    height: 40px;
}

.product-card-details__color img,
.product-card-details__color-empty img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

.product-card-details__color{
    border-bottom:none;
}

.product-card-details__color_active {
    border-bottom: 2px solid #111827;
}

.product-card-details__color div {

}

.product-card-details__color-empty div {
    box-sizing: border-box;
}

.product-card-details__size-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
}

.product-card-details__size-title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-details__size-title-block > span {
    font: 18px/140% Roboto;
    color: var(--text1);
}

.product-card-details__size-title-block > a {
    font: 16px/140% Roboto;
    color: #424CA0;
    text-decoration: none;
}

.product-card-details__size-container {
    margin-top:15px;
    display: flex;
    justify-content: space-between;
}

.product-card-details__size {
    min-width: 84px;
    width: fit-content;
    padding: 0 5px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #EAECF0;
    box-sizing: border-box;
    cursor: pointer;
    transition: border .1s;
}

.product-card-details__size:not(.product-card-details__size_active):hover {
    border: 1.5px solid #A1A8B4;
}

.product-card-details__size > span {
    font: 18px/140% Roboto;
    color: var(--text2);
    transition: color .1s;
}

.product-card-details__size_active {
    border: 1.5px solid #0F1523;
}

.product-card-details__size_active > span {
    color: var(--text1);
    transition: color .1s;
}

.product-card-details__btn-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-card-details__btn-cart {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111827;
    border: none;
    font: 18px/140% Roboto;
    color: var(--text4);
    cursor: pointer;
    transition: background-color .1s;
}

.product-card-details__btn-cart:hover {
    background-color: #292F39;
}

.product-card-details__btn-cart:hover{
    color: white;
    text-decoration: none;
}

.product-card-details__btn-block {
    display: flex;
    justify-content: space-between;
}

.product-card-details__btn-dressing,
.product-card-details__btn-favourite {
    max-width: 275px;
    width: 100%;
    height: 56px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #E5E7EB;
    background-color: var(--bg1);
    font: 18px/140% Roboto;
    color: var(--text1);
    cursor: pointer;
    transition: border .1s;
}

.product-card-details__btn-dressing > svg,
.product-card-details__btn-favourite > svg {
    transition: fill .1s;
}

.product-card-details__btn-dressing > svg > path,
.product-card-details__btn-favourite > svg > path {
    transition: stroke .1s;
}

.product-card-details__btn-dressing:hover,
.product-card-details__btn-favourite:hover {
    border: 1.5px solid #A1A8B4;
}

.product-card-details__btn-favourite_active svg {
    fill: #F42057;
}

.product-card-details__btn-favourite_active svg > path {
    stroke: #F42057;
}

.product-card-details__delivery-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product-card-details__delivery-item {
    display: flex;
    gap: 20px;
}

.product-card-details__delivery-item-title {
    color: var(--text2);
    font: 300 18px/140% Roboto;
}

.product-card-details__delivery-item-date {
    font: 18px/140% Roboto;
    color: var(--text1);
}

.product-card-details__delivery-link {
    font: 18px/140% Roboto;
    color: #424CA0;
    text-decoration: none;
}

.product-card-details__description-container {
    display: flex;
    padding: 48px 0;
    box-sizing: border-box;
    border-top: 1px solid #EAECF0;
    border-bottom: 1px solid #EAECF0;
}

.product-card-details__description-container > p {
    font: 300 20px/150% Roboto;
    color: var(--text1);
    margin: 0;
}

.product-card-details__specs-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product-card-details__specs-title {
    font: 28px/130% Roboto;
    color: var(--text5);
}

.product-card-details__specs-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.product-card-details__specs-item {
    display: flex;
    gap: 20px;
}

.product-card-details__specs-item-title {
    max-width: 273px;
    width: 100%;
    font: 300 18px/140% Roboto;
    color: var(--text2);
}

.product-card-details__specs-item-value {
    font: 18px/140% Roboto;
    color: var(--text1);
}

.product-card-details__size-link-mobile {
    display: none;
}

.product-card-details__description-mobile {
    display: none;
}

.product-card-details__description-title {
    display: none;
}

.product-card-details__fixed-menu {
    display: none;
}

@media screen and (max-width: 1729px) {
    .product-card-details__photo-block {
        max-width: 1060px;
    }
}

@media screen and (max-width: 1599px) {
    .product-card-details__photo-block {
        max-width: 950px;
    }
}

@media screen and (max-width: 1485px) {
    .product-card-details__photo-block {
        max-width: 800px;
    }
}

@media screen and (max-width: 1319px) {
    .product-card-details {
        max-width: 410px;
        margin-top: 8px;
    }
    .product-card-details__name {
        font: 28px/130% Roboto;
    }
    .product-card-details__head-num {
        font: 300 12px/140% Roboto;
    }
    .product-card-details__head-stars {
        margin-left: 18px;
    }
    .product-card-details__head-stars > svg {
        width: 14px;
        height: 14px;
    }
    .product-card-details__head-reviews {
        color: var(--text1);
        font: 300 12px/140% Roboto;
        margin-left: 8px;
    }
    .product-card-details__photo-block {
        max-width: 750px;
    }
    .product-card-details__photo-container {
        height: 583px;
    }
    .product-card-details__photo {
        max-width: 390px;
        height: 583px;
    }
    .product-card-details__photo-info {
        font: 300 14px/160% Roboto;
    }
    .product-card-details__price-result {
        font: 30px/130% Roboto;
    }
    .product-card-details__price-current {
        font: 18px/130% Roboto;
    }
    .product-card-details__price-discount {
        font: 18px/130% Roboto;
    }
    .product-card-details__price-credit {
        font: 16px/140% Roboto;
    }
    .product-card-details__color-block {
        gap: 10px;
    }
    .product-card-details__color-title {
        font: 16px/140% Roboto;
    }
    .product-card-details__color > div,
    .product-card-details__color-empty > div {
        width: 30px;
        height: 30px;
    }
    .product-card-details__size-title-block > span {
        font: 16px/140% Roboto;
    }
    .product-card-details__size-title-block > a {
        font: 14px/140% Roboto;
    }
    .product-card-details__size {
        width: 60px;
        height: 40px;
    }
    .product-card-details__size > span {
        font: 16px/140% Roboto;
    }
    .product-card-details__btn-cart {
        font: 16px/140% Roboto;
    }
    .product-card-details__btn-dressing,
    .product-card-details__btn-favourite {
        max-width: 200px;
        font: 16px/140% Roboto;
    }
    .product-card-details__delivery-item-title {
        font: 300 16px/140% Roboto;
    }
    .product-card-details__delivery-item-date {
        font: 16px/140% Roboto;
    }
    .product-card-details__delivery-link {
        font: 16px/140% Roboto;
    }
    .product-card-details__description-container > p {
        font: 300 18px/150% Roboto;
    }
    .product-card-details__specs-title {
        font: 24px/130% Roboto;
    }
    .product-card-details__specs-item-title {
        font: 300 16px/140% Roboto;
    }
    .product-card-details__specs-item-value {
        font: 16px/140% Roboto;
    }
}

@media screen and (max-width: 1130px) {
    .product-card-details__photo-block {
        max-width: 550px;
    }
}

@media screen and (max-width: 900px) {
    .product-card-details__photo-block {
        max-width: 400px;
    }
}

@media screen and (max-width: 767px) {
    #catalog_element .section__container {
        padding: 0;
    }
    .product-card-details {
        gap: 0;
        max-width: 767px;
        margin-left: unset;
    }
    .product-card-details__name {
        font: 20px/130% Roboto;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .product-card-details__head {
        display: none;
    }
    .product-card-details__photo-block {
        max-width: 750px;
        height: 307px;
        position: static;
        left: 0;
        margin-top: 16px;
    }
    .product-card-details__photo-block-sticky {
        position: static;
        top: 0;
        gap: 0;
        height: auto;
    }
    .product-card-details__photo-container {
        height: 307px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .product-card-details__photo {
        max-width: 206px;
        height: 307px;
    }
    .product-card-details__photo-info {
        display: none;
    }
    .product-card-details__price-block {
        gap: 6px;
        display: none;
        padding: 16px 12px 20px;
        box-sizing: border-box;
        background-color: var(--bg1);
        width: 100%;
        border-top: 1px solid #EAECF0;
    }
    .product-card-details__price {
        gap: 13px;
    }
    .product-card-details__price-result {
        font: 20px/130% Roboto;
    }
    .product-card-details__price-current {
        font: 16px/140% Roboto;
    }
    .product-card-details__price-discount {
        font: 16px/140% Roboto;
    }
    .product-card-details__price-credit {
        font: 300 13px/130% Roboto;
    }
    .product-card-details__color-block {
        gap: 8px;
        margin-top: 24px;
    }
    .product-card-details__color-title {
        font: 13px/140% Roboto;
    }
    .product-card-details__color-container {
        gap: 8px;
    }
    .product-card-details__color,
    .product-card-details__color-empty {
        padding-bottom: 4px;
    }
    .product-card-details__color &:not(.product-card-details__color_active):hover,
    .product-card-details__color-empty &:not(.product-card-details__color_active):hover {
        padding-bottom: 4px;
    }
    .product-card-details__color > div,
    .product-card-details__color-empty > div {
        width: 36px;
        height: 36px;
    }
    .product-card-details__size-block {
        gap: 8px;
        margin-top: 28px;
    }
    .product-card-details__size-title-block {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .product-card-details__size-title-block > span {
        font: 13px/140% Roboto;
    }
    .product-card-details__size-title-block > a {
        display: none;
    }
    .product-card-details__size-container {
        justify-content: unset;
        overflow-x: auto;
        gap: 8px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .product-card-details__size-container::-webkit-scrollbar {
        display: none;
    }
    .product-card-details__size {
        width: 56px;
        height: 36px;
        flex-shrink: 0;
    }
    .product-card-details__size > span {
        font: 13px/140% Roboto;
    }
    .product-card-details__size-link-mobile {
        display: flex;
        font: 13px/140% Roboto;
        color: #424CA0;
        margin-top: 4px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .product-card-details__description-mobile {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .product-card-details__description-mobile > span {
        font: 300 13px/160% Roboto;
        color: var(--text1);
    }
    .product-card-details__btn-container {
        gap: 0;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .product-card-details__btn-cart {
        width: 100%;
        height: 44px;
        font: 14px/140% Roboto;
        display: none;
    }
    .product-card-details__mobile-btn-cart {
        width: 100%;
        height: 44px;
        font: 14px/140% Roboto;
        display: none;
    }
    .product-card-details__btn-block {
        justify-content: initial;
        flex-direction: column;
        gap: 8px;
        margin-top: 28px;
    }
    .product-card-details__btn-dressing,
    .product-card-details__btn-favourite {
        max-width: unset;
        height: 44px;
        gap: 10px;
        font: 14px/140% Roboto;
    }
    .product-card-details__btn-dressing > svg,
    .product-card-details__btn-favourite > svg {
        width: 18px;
        height: 18px;
    }
    .product-card-details__delivery-container {
        gap: 20px;
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .product-card-details__delivery-item {
        gap: 4px;
        flex-direction: column;
    }
    .product-card-details__delivery-item-title {
        font: 300 13px/140% Roboto;
    }
    .product-card-details__delivery-item-date {
        font: 14px/140% Roboto;
    }
    .product-card-details__delivery-link {
        font: 13px/140% Roboto;
    }
    .product-card-details__description-container {
        padding: 0;
        border-bottom: none;
        flex-direction: column;
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .product-card-details__description-container > p {
        font: 300 13px/160% Roboto;
        height: 0;
        overflow: hidden;
        transition: height .1s;
    }
    .product-card-details__description-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 53px;
    }
    .product-card-details__description-title > span {
        font: 18px/130% Roboto;
        color: var(--text5);
    }
    .product-card-details__specs-container {
        margin-top: 0;
        border-bottom: 1px solid #EAECF0;
        padding-bottom: 0;
        box-sizing: border-box;
        height: 0;
        overflow: hidden;
        transition: height .1s;
    }
    .product-card-details__specs-title {
        display: none;
    }
    .product-card-details__specs-item {
        gap: 4px;
        flex-direction: column;
    }
    .product-card-details__specs-item:last-of-type {
        margin-bottom: 20px;
    }
    .product-card-details__specs-item-title {
        font: 300 13px/140% Roboto;
    }
    .product-card-details__specs-item-value {
        font: 14px/140% Roboto;
    }
    .product-card-details__fixed-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 16px 12px;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--bg1);
        border-top: 1px solid #EAECF0;
        z-index: 2;
    }
    .product-card-details__mobile-price {
        display: flex;
        gap: 13px;
        align-items: baseline;
        padding: 0 8px;
        box-sizing: border-box;
    }
    .product-card-details__mobile-price-result {
        font: 20px/130% Roboto;
        color: var(--text1);
    }
    .product-card-details__mobile-price-current {
        font: 16px/140% Roboto;
        color: #6B7280;
        text-decoration: line-through;
    }
    .product-card-details__mobile-price-discount {
        font: 16px/140% Roboto;
        color: #3A61ED;
    }
    .product-card-details__mobile-price-credit {
        margin-top: 6px;
        font: 300 13px/130% Roboto;
        color: #525964;
        padding: 0 8px;
        box-sizing: border-box;
    }
    .product-card-details__mobile-btn-cart {
        width: 100%;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #111827;
        border: none;
        font: 14px/140% Roboto;
        color: var(--text4);
        cursor: pointer;
        margin-top: 20px;
        transition: background-color .1s;
    }
    .product-card-details__mobile-btn-cart:hover {
        background-color: #292F39;
    }
}