.reviews {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
    margin: 160px auto 40px;
    max-width: 1780px;
    padding: 0 20px;
    box-sizing: border-box;
}

.reviews__title-block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.reviews__title {
    font: 48px/130% Roboto;
    color: var(--text5);
    margin: 0;
}

.reviews__title-link {
    font: 18px/130% Roboto;
    color: var(--text5);
    text-decoration: none;
}

.reviews__block {
    display: flex;
    gap: 48px;
    width: 100%;
    min-height: 260px;
}

.reviews__rating-mobile {
    display: none;
}

.reviews__rating {
    display: flex;
    flex-direction: column;
    max-width: 245px;
    width: 100%;
    background-color: #FFF;
    padding-right: 24px;
    flex-shrink: 0;
}

.reviews__rating-num {
    font: 500 120px/120% Roboto;
    color: var(--text5);
    margin-top: 12px;
}

.reviews__rating-text {
    font: 300 18px/140% Roboto;
    color: var(--text5);
    /*margin-top: 24px;*/
}

.reviews__rating-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    background-color: #111827;
    border: none;
    font: 18px/140% Roboto;
    color: var(--text4);
    margin-top: auto;
    cursor: pointer;
    transition: background-color .1s;
}

.reviews__rating-btn:hover {
    background-color: #292F39;
}

.reviews__container {
    width: 100%;
}

.reviews__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    box-sizing: border-box;
    max-width: 714px;
    width: 100%;
    border: 1px solid #EAECF0;
    cursor: grab;
}

.reviews__item-head {
    display: flex;
    justify-content: space-between;
}

.reviews__item-head-author {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.reviews__item-head-author-name {
    font: 500 20px/130% Roboto;
    color: var(--text5);
}

.reviews__item-head-author-date {
    color: #6B7280;
    font: 16px/140% Roboto;
}

.reviews__item-head-stars {
    display: flex;
    gap: 5px;
}

.reviews__item-head-star {
    display: flex;
}

.reviews__item-text {
    font: 300 18px/160% Roboto;
    color: var(--text1);
    margin: 0;
}

.reviews__form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .1s;
}

.reviews__form {
    max-width: 600px;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--bg1);
    position: relative;
}

.reviews__form-title {
    font: 28px/130% Roboto;
    color: var(--text1);
}

.reviews__form-mark-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: 24px;
}

.reviews__form-mark-question {
    font: 300 15px/140% Roboto;
    color: #6B7280;
}

.reviews__form-marks {
    display: flex;
    gap: 12px;
    width: 100%;
}

.reviews__form-mark {
    width: 97px;
    height: 52px;
    border: 1.5px solid #EAECF0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 18px/140% Roboto;
    color: #5C636E;
    cursor: pointer;
    transition: border .1s, color .1s;
}

.reviews__form-mark:not(.reviews__form-mark_active):hover {
    border: 1.5px solid #A1A8B4;
}

.reviews__form-mark_active {
    border: 1.5px solid #0F1523;
    color: var(--text1);
}

.reviews__form-input-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin-top: 24px;
}

.reviews__form-input-block > label {
    font: 300 15px/140% Roboto;
    color: #6B7280;
}

.reviews__form-input {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    border: 1.5px solid #EAECF0;
    padding: 0 20px;
    box-sizing: border-box;
    transition: border .1s;
}

.reviews__form-input:hover {
    border: 1.5px solid #D6DAE0;
}

.reviews__form-input:focus-within {
    border: 1.5px solid #111827;
}

.reviews__form-input > input {
    width: 100%;
    height: 90%;
    border: none;
    outline: none;
    font: 18px/140% Roboto;
    color: var(--text1);
}

.reviews__form-input > input::placeholder {
    font: 18px/140% Roboto;
    color: #9CA3AF;
}

.reviews__form-input > input:focus {
    outline: none;
}

.reviews__form-input > .reviews__form-input-error {
    display: none;
}

.reviews__form-input > .reviews__form-input-success {
    display: none;
}

.reviews__form-input-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
}

.reviews__form-input-text > label {
    font: 300 15px/140% Roboto;
    color: #6B7280;
}

.reviews__form-input-text > textarea {
    width: 100%;
    height: 200px;
    padding: 17px 20px;
    border: 1.5px solid #EAECF0;
    box-sizing: border-box;
    resize: none;
    font: 18px/140% Roboto;
    color: var(--text1);
    transition: border .1s;
}

.reviews__form-input-text > textarea:hover {
    border: 1.5px solid #D6DAE0;
}

.reviews__form-input-text > textarea:focus {
    outline: none;
    border: 1.5px solid #111827;
}

.reviews__form-input-text > textarea::placeholder {
    font: 18px/140% Roboto;
    color: #9CA3AF;
}

.reviews__form-submit-btn {
    width: 100%;
    height: 56px;
    border: none;
    outline: none;
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 18px/140% Roboto;
    color: var(--text4);
    cursor: pointer;
    margin-top: 32px;
    transition: background-color .1s;
}

.reviews__form-submit-btn:hover {
    background-color: #292F39;
}

.reviews__form-policy {
    font: 300 16px/140% Roboto;
    color: var(--text1);
    margin-top: 24px;
}

.reviews__form-policy > a {
    color: #424CA0;
}

.reviews__form-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.reviews__form-close-btn > svg path {
    transition: stroke .1s;
}

.reviews__form-close-btn:hover svg path {
    stroke: #9CA3AF;
}

.reviews__form-mobile-grab {
    display: none;
}

@media screen and (max-width: 1319px) {
    .reviews__title {
        font: 40px/130% Roboto;
    }
    .reviews__title-link {
        font: 16px/130% Roboto;
    }
    .reviews__rating-num {
        font: 500 80px/140% Roboto;
    }
    .reviews__rating-text {
        font: 300 16px/140% Roboto;
    }
    .reviews__rating-btn {
        font: 16px/140% Roboto;
    }
    .reviews__item-head-author-name {
        font: 500 18px/130% Roboto;
    }
    .reviews__item-head-author-date {
        font: 14px/140% Roboto;
    }
    .reviews__item-text {
        font: 300 16px/160% Roboto;
    }
    .reviews__form {
        max-width: 600px;
        width: 100%;
        padding: 32px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background-color: var(--bg1);
        position: relative;
    }
    .reviews__form-title {
        font: 28px/130% Roboto;
        color: var(--text1);
    }
    .reviews__form-mark-block {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
        margin-top: 24px;
    }
    .reviews__form-mark-question {
        font: 300 15px/140% Roboto;
        color: #6B7280;
    }
    .reviews__form-marks {
        display: flex;
        gap: 12px;
        width: 100%;
    }
    .reviews__form-mark {
        width: 97px;
        height: 52px;
        border: 1.5px solid #EAECF0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 18px/140% Roboto;
        color: #5C636E;
        cursor: pointer;
        transition: border .1s, color .1s;
    }
    .reviews__form-mark:not(.reviews__form-mark_active):hover {
        border: 1.5px solid #A1A8B4;
    }
    .reviews__form-mark_active {
        border: 1.5px solid #0F1523;
        color: var(--text1);
    }
    .reviews__form-input-block {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        margin-top: 24px;
    }
    .reviews__form-input-block > label {
        font: 300 15px/140% Roboto;
        color: #6B7280;
    }
    .reviews__form-input {
        display: flex;
        width: 100%;
        height: 56px;
        align-items: center;
        border: 1.5px solid #EAECF0;
        padding: 0 20px;
        box-sizing: border-box;
        transition: border .1s;
    }
    .reviews__form-input:hover {
        border: 1.5px solid #D6DAE0;
    }
    .reviews__form-input:focus-within {
        border: 1.5px solid #111827;
    }
    .reviews__form-input > input {
        width: 100%;
        height: 90%;
        border: none;
        outline: none;
        font: 18px/140% Roboto;
        color: var(--text1);
    }
    .reviews__form-input > input::placeholder {
        font: 18px/140% Roboto;
        color: #9CA3AF;
    }
    .reviews__form-input > input:focus {
        outline: none;
    }
    .reviews__form-input > .reviews__form-input-error {
        display: none;
    }
    .reviews__form-input > .reviews__form-input-success {
        display: none;
    }
    .reviews__form-input-text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 24px;
    }
    .reviews__form-input-text > label {
        font: 300 15px/140% Roboto;
        color: #6B7280;
    }
    .reviews__form-input-text > textarea {
        width: 100%;
        height: 200px;
        padding: 17px 20px;
        border: 1.5px solid #EAECF0;
        box-sizing: border-box;
        resize: none;
        font: 18px/140% Roboto;
        color: var(--text1);
        transition: border .1s;
    }
    .reviews__form-input-text > textarea:hover {
        border: 1.5px solid #D6DAE0;
    }
    .reviews__form-input-text > textarea:focus {
        outline: none;
        border: 1.5px solid #111827;
    }
    .reviews__form-input-text > textarea::placeholder {
        font: 18px/140% Roboto;
        color: #9CA3AF;
    }
    .reviews__form-submit-btn {
        width: 100%;
        height: 56px;
        border: none;
        outline: none;
        background-color: #111827;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 18px/140% Roboto;
        color: var(--text4);
        cursor: pointer;
        margin-top: 32px;
        transition: background-color .1s;
    }
    .reviews__form-submit-btn:hover {
        background-color: #292F39;
    }
    .reviews__form-policy {
        font: 300 16px/140% Roboto;
        color: var(--text1);
        margin-top: 24px;
    }
    .reviews__form-policy > a {
        color: #424CA0;
    }
    .reviews__form-close-btn {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
    }
    .reviews__form-close-btn > svg path {
        transition: stroke .1s;
    }
    .reviews__form-close-btn:hover svg path {
        stroke: #9CA3AF;
    }
}

@media screen and (max-width: 768px) {
    .reviews {
        gap: 14px;
        margin: 52px auto 0;
    }
    .reviews__title-block {
        flex-direction: column;
        justify-content: unset;
    }
    .reviews__title {
        font: 24px/120% Roboto;
    }
    .reviews__title-link {
        display: none;
    }
    .reviews__block {
        flex-direction: column;
        gap: 24px;
        min-height: unset;
    }
    .reviews__rating {
        display: none;
    }
    .reviews__rating-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #FFF;
    }
    .reviews__rating-mobile-num {
        color: var(--text5);
        font: 500 40px/130% Roboto;
    }
    .reviews__rating-mobile-text {
        font: 300 13px/130% Roboto;
        margin-top: 0;
        color: var(--text5);
    }
    .reviews__rating-mobile-btn {
        max-width: 280px;
        height: 44px;
        font: 14px/140% Roboto;
        margin-top: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #111827;
        border: none;
        color: var(--text4);
        cursor: pointer;
        transition: background-color .1s;
    }
    .reviews__rating-mobile-btn:hover {
        background-color: #292F39;
    }
    .reviews__item {
        gap: 16px;
        padding: 20px;
        max-width: 280px;
    }
    .reviews__item-head {
        justify-content: unset;
        flex-direction: column;
    }
    .reviews__item-head-author {
        gap: 6px;
    }
    .reviews__item-head-author-name {
        font: 15px/140% Roboto;
    }
    .reviews__item-head-author-date {
        font: 300 13px/130% Roboto;
    }
    .reviews__item-head-stars {
        gap: 8px;
        margin-top: 12px;
    }
    .reviews__item-head-star > svg {
        width: 16px;
        height: 16px;
    }
    .reviews__item-text {
        font: 300 13px/160% Roboto;
        margin-top: 0;
    }
    .reviews__form-overlay {
        align-items: end;
    }
    .reviews__form {
        max-width: 100%;
        padding: 20px 20px 0;
    }
    .reviews__form-title {
        font: 20px/130% Roboto;
    }
    .reviews__form-mark-block {
        gap: 8px;
        margin-top: 20px;
    }
    .reviews__form-mark-question {
        font: 300 12px/140% Roboto;
    }
    .reviews__form-marks {
        gap: 6px;
    }
    .reviews__form-mark {
        width: 51px;
        height: 36px;
        font: 13px/140% Roboto;
    }
    .reviews__form-input-block {
        margin-top: 16px;
    }
    .reviews__form-input-block > label {
        font: 300 12px/140% Roboto;
    }
    .reviews__form-input {
        height: 44px;
        padding: 0 16px;
    }
    .reviews__form-input > input {
        font: 14px/140% Roboto;
    }
    .reviews__form-input > input::placeholder {
        font: 14px/140% Roboto;
    }
    .reviews__form-input-text {
        margin-top: 16px;
    }
    .reviews__form-input-text > label {
        font: 300 12px/140% Roboto;
    }
    .reviews__form-input-text > textarea {
        height: 128px;
        padding: 14px 16px;
        font: 14px/140% Roboto;
    }
    .reviews__form-input-text > textarea::placeholder {
        font: 14px/140% Roboto;
    }
    .reviews__form-submit-btn-container {
        border-top: 1px solid #EAECF0;
        background-color: #FFF;
        width: 100%;
        position: fixed;
        padding: 12px;
        box-sizing: border-box;
        bottom: 0;
        left: 0;
    }
    .reviews__form-submit-btn {
        height: 44px;
        font: 14px/140% Roboto;
        margin-top: 0;
    }
    .reviews__form-policy {
        font: 300 13px/140% Roboto;
        margin-top: 16px;
    }
    .reviews__form-close-btn {
        display: none;
    }
    .reviews__form-mobile-grab {
        display: flex;
        width: 40px;
        height: 4px;
        background-color: #F3F4F6;
        border-radius: 7px;
        opacity: 0.3;
        position: absolute;
        top: -10px;
        left: calc(50% - 20px);
    }
}

