services:
    nginx:
        build:
            context: ${DOCKER_PATH}
            dockerfile: ${DOCKER_PATH}/nginx/Dockerfile
            args:
                USERGROUP: ${USERGROUP}
        volumes:
            - ${SITE_PATH}:/var/www
            - ${CONF_PATH}/nginx/conf.d:/etc/nginx/conf.d
        ports:
            - 80:80
            - 443:443
        depends_on:
            - app
        networks:
            - compose
        container_name: nginx
    app:
        build:
            context: ${DOCKER_PATH}
            dockerfile: ${DOCKER_PATH}/app/php-${PHP_VERSION}/Dockerfile
            args:
                USERGROUP: ${USERGROUP}
        volumes:
            - ${SITE_PATH}:/var/www
            - ${DOCKER_PATH}/app/php-${PHP_VERSION}/php.ini:/usr/local/etc/php/conf.d/php.ini
            - ${DOCKER_PATH}/app/php-fpm.conf:/usr/local/etc/php-fpm.d/zzzzwww.conf
            - ${DOCKER_PATH}/app/nginx:/etc/nginx/conf.d
        ports:
            - 9000:9000
        depends_on:
            - mysql
        networks:
            - compose
        extra_hosts:
            - host.docker.internal:host-gateway
        container_name: app
    mysql:
        image: mysql:${MYSQL_VERSION}
        restart: always
        volumes:
            - mysql_data:/var/lib/mysql
            - ${DOCKER_PATH}/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
        ports:
            - 8102:3306
        environment:
            MYSQL_DATABASE: site
            MYSQL_ROOT_PASSWORD: root
        networks:
            - compose
        container_name: mysql
    node:
        build:
            context: ${DOCKER_PATH}
            dockerfile: ${DOCKER_PATH}/node/Dockerfile
            args:
                NODE_VERSION: ${NODE_VERSION}
                USERGROUP: ${USERGROUP}
        volumes:
            - ${SITE_PATH}:/var/www
        ports:
            - 5173:5173
            - 5174:5174
        depends_on:
            - app
        networks:
            - compose
        command: sh -c "pm2 start /var/www/nuxt/ecosystem.config.cjs --name node-server & tail -f /dev/null"
        working_dir: ${NODE_PATH}
        container_name: node
volumes:
    mysql_data:
        name: doc_mysql_data
    redis_data: {}
    sphinx_data: {}
networks:
    compose:
        driver: bridge
