.absolute {
    position: absolute;
}

.abs__center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.d-flex {
    display: flex;
}

.flex__col {
    flex-direction: column;
}

.flex__row {
    flex-direction: row;
}

.align__center {
    align-items: center;
}

.justify__center {
    justify-content: center;
}