# лучше конечно api php на поддомене запускать
NUXT_API_BASE_SERVER=http://nginx/bitrix/api/v1 # домен + базовый путь к api php. P.S. на боевом домен проксирования не должен совпадать с текущим доменом фронта, тогда ставте 127.0.0.1 на обычном сервере
NUXT_PUBLIC_API_BASE_CLIENT=/api/v1 # базовый путь для node js api
